@layout ProAdminLayout

<Card Title="图书管理系统" Style="float:left; width:250px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="学生管理系统" Style="float:left; width:250px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="xx系统" Style="float:left; width:250px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="xx系统" Style="float:left; width:250px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="xx系统" Style="float:left; width:250px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="xx系统" Style="float:left; width:250px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="xx系统" Style="float:left; width:250px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Bordered="true" Style="float:left; width:250px; margin:5px; height:142px;display: flex; align-items: center; justify-content: center;">
    <a href="/admin/templatecenter">更多模板</a>
</Card>