<div style="margin:10px 5px;">
    <Segmented Size="SegmentedSize.Large" Labels=@(new[]{"全部", "OA", "CRM", "ERP", "门户", "医疗", "教育", "酒店", "餐饮", "水务"}) />
</div>

<Card Title="图书管理系统" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="学生管理系统" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>