@page "/dragdrop/sample"

<DocList></DocList>
<SlugList SlugItems="@slugItems"></SlugList>
<Content>
    <Markdown></Markdown>
    <CodeBox>
        @Code
    </CodeBox>
    <Markdown>
        <p>
            拖拽示例
        </p>
    </Markdown>
    <DocFooter></DocFooter>
</Content>

@code {
    private IList<SlugItem> slugItems = new List<SlugItem>()
    {
        new SlugItem(){ Path="#dragdrop1", Title="简单拖拽" },
        new SlugItem(){ Path="#dragdrop2", Title="拖拽移动" },
        new SlugItem(){ Path="#dragdrop3", Title="容器嵌套" },
        new SlugItem(){ Path="#dragdrop4", Title="嵌套移动" }
    };

    private string Code = "Code - 拖拽示例";
}