/* ====================== 覆盖 antdesign 默认样式 ========================== */
.myapp .ant-pro-basicLayout-content {
    margin: 16px;
}

.myapp .ant-layout, .myapp .ant-pro-basicLayout-content {
    height: 100%;
}

.myapp .ant-pro-basicLayout-children-content-wrap, .myapp .ant-layout-content {
    height: 100%;
}
