@using H.LowCode.Metadata

<div style="height: auto;">
    @for (var i = 0; i < Rows; i++)
    {
        <GridRow Style="min-height:85px; height: auto;">
            @for (var i = 0; i < Cols; i++)
           {
                <GridCol Span="@(24/Cols)" Style="width:100%; background-color:#f4f4f4; border: 1px dashed #ded9d9;">
                    <DropItemContainer></DropItemContainer>
                </GridCol>
           }
        </GridRow>
    }
</div>

@code {
    [Parameter]
    public int Rows { get; set; } = 2;

    [Parameter]
    public int Cols { get; set; } = 2;

    protected override void OnInitialized()
    {
        RegisterEventDispatcher();

        base.OnInitialized();
    }

    private void RegisterEventDispatcher()
    {
        //订阅属性面板中的事件
        BlazorEventDispatcher.RegisterEvent("designengine.propertysetting.onchange", (value) =>
        {
            Rows = Random.Shared.Next(1, 4);
            StateHasChanged();
        });
    }
}