@namespace H.LowCode.PartsDesignEngine
@inherits LowCodeComponentBase

@inject DragDropStateService DragDropStateService

@if (_rootComponent != null)
{
    <div class="designpanel" style="margin:5px; height:100%; overflow-y: auto;">
        <DropItemContainer ContainerComponent="@_rootComponent" IsRootContainer="true"></DropItemContainer>
    </div>
}

@code {
    private ComponentPartsSchema _rootComponent;

    protected override async Task OnInitializedAsync()
    {
        _rootComponent = LoadRootComponent();

        await base.OnInitializedAsync();
    }

    private ComponentPartsSchema LoadRootComponent()
    {
        ComponentPartsSchema rootComponent = null;  //DragDropStateService.GetRootComponent(PageCascading.AppId, PageCascading.PageId);
        if (rootComponent == null)
        {
            rootComponent = new ComponentPartsSchema();
            //rootComponent.Refresh = StateHasChanged;
            //DragDropStateService.SetRootComponent(PageCascading.AppId, PageCascading.PageId, rootComponent);
        }
        return rootComponent;
    }

    public void Reload(PageSchema pageSchema)
    {
        // if (pageSchema != null && DragDropStateService.GetRootComponent(PageCascading.AppId, PageCascading.PageId) != null)
        //     DragDropStateService.GetRootComponent(PageCascading.AppId, PageCascading.PageId).Childrens = pageSchema.Components;
        StateHasChanged();
    }
}
