@*条件节点*@
<div class="condition-node">
    <div class="condition-node-box">
        <div class="auto-judge">
            <div class="title-wrapper">
                <span class="editable-title">@Node.NodeName</span>
                <span class="priority-title">优先级1</span>
                <i class="anticon anticon-close close"></i>
            </div>
            <div class="sort-right">&gt;</div>
            <div class="content">发起人属于：天旭</div>
        </div>
        <AddNodeButton></AddNodeButton>
    </div>
</div>

@*遍历普通子节点*@
@foreach(var childNode in Node.ChildNodes)
{
    <NodeWrap Node="@childNode"></NodeWrap>
}

@code {
    [Parameter]
    public NodeModelBase Node { get; set; }

    private void AddNode(int nodeType)
    {
        
    }
}