@page "/"

<h1>Hello, H.LowCode!</h1>


<p>页面设计示例：</p>
<p>
    <a href="/designer/appid/pageid" target="_blank">默认设计器</a>
</p>
<p>
    <a href="/designer/appid/pageid?p=form" target="_blank">表单设计器</a>
</p>
<p>
    <a href="/designer/appid/pageid?p=list" target="_blank">列表设计器-List</a>
</p>
<p>
    <a href="/designer/appid/pageid?p=table" target="_blank">列表设计器-Table</a>
</p>
<p>
    <a href="/designer/appid/pageid?p=card" target="_blank">列表设计器-Card</a>
</p>
<p>
    <a href="/designer/appid/pageid?p=workbench" target="_blank">工作台设计器</a>
</p>
<p>
    <a href="/designer/appid/pageid?p=portal" target="_blank">门户设计器</a>
</p>

<p>&nbsp;</p>
<p>页面渲染示例：</p>
<p>
    <a href="/form/basicform/1" target="_blank">基础表单渲染</a>
</p>
<p>
    <a href="/form/linkageform/2" target="_blank">联动表单渲染</a>
</p>
<p>
    <a href="/form/validateform/4" target="_blank">校验表单渲染</a>
</p>
<p>
    <a href="/form/complexform/5" target="_blank">复杂表单渲染</a>
</p>
<p>
    <a href="/form/customform/3" target="_blank">自定义表单渲染</a>
</p>
<p>
    <a href="/list" target="_blank">列表渲染</a>
</p>