@page "/admin/marketcenter"
@namespace H.LowCode.Admin
@layout ProAdminLayout

<style>
    .market-banner {
        text-align: center;
        height: 160px;
        line-height: 160px;
        overflow: hidden;
        margin: -24px -24px 10px -24px;
        background-size: 100% 160px;
        background-image: url(https://img.alicdn.com/imgextra/i2/O1CN01yp2QLE1eCw9HpYIy5_!!6000000003836-0-tps-3171-1784.jpg);
    }
</style>

<div class="market-banner">
    <div style="font-size: 24px; font-weight: bold;">
        <span>低代码平台</span>
        <span style="color: white; -webkit-text-fill-color: transparent;
                background: -webkit-linear-gradient(360deg, #0089ff 30%, #30e724);
                background-clip: text; -webkit-background-clip: text;">生态中心</span>
    </div>
</div>

<Tabs DefaultActiveKey="tab_market_app" Centered Animated Style="width: 80%; margin: auto;">
    <TabPane Tab="应用模板" Key="tab_market_app">
        <AppTemplates></AppTemplates>
    </TabPane>
    <TabPane Tab="组件库" Key="tab_market_complib">
        自定义组件库
    </TabPane>
    <TabPane Tab="主题模板" Key="tab_market_theme">
        主题模板
    </TabPane>
    <TabPane Tab="插件" Key="tab_market_plugin">
        <Card Title="电子签章" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
    </TabPane>
</Tabs>
