@page "/admin/myapps"

<Card Title="图书管理系统" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="/myapp/pagemanager/appid">管理</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="学生管理系统" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="/myapp/pagemanager/appid">管理</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Bordered="true" Style="float:left; width:300px; margin:5px; height:142px;display: flex; align-items: center; justify-content: center;">
    <a href="/myapp/create">新建应用</a>
</Card>