@namespace H.LowCode.PartsDesignEngine
@inherits LowCodeComponentBase

<div style="height:100%; overflow-y:auto">
    <div style="border-left: 5px solid #d0d4da;padding: 0 0 0 8px; margin:5px 0;">基础</div>
    
</div>

@code {
    [Parameter]
    public ComponentPartsSchema Component { get; set; }

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

    private void OnPropertyChange()
    {
        Component.RefreshState();
    }
}
