@page "/introduce/quickstart"

<DocList DocItems="@docItems"></DocList>
<SlugList SlugItems="@slugItems"></SlugList>
<div class="__dumi-default-layout-content">
    <Markdown></Markdown>
    <CodeBox Code="@Code"></CodeBox>
    <div class="markdown">
        <p>
            快速开始
        </p>
    </div>
    <div class="__dumi-default-layout-footer-meta">
        <span data-updated-text="Last update: ">2023/7/5 15:05:45</span>
    </div>
</div>

@code {
    private IList<DocItem> docItems = new List<DocItem>()
    {
        new DocItem(){ Path="/introduce", Title="文档站点开发" },
        new DocItem(){ Path="/introduce/quickstart", Title="快速开始" }
    };

    private IList<SlugItem> slugItems = new List<SlugItem>()
    {
        new SlugItem(){ Path="#dev1", Title="1" },
        new SlugItem(){ Path="#dev2", Title="2" },
        new SlugItem(){ Path="#dev3", Title="3" }
    };

    private string Code = "Code - 文档站点开发";
}