@using Microsoft.AspNetCore.Components.Routing;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;

<div class="__dumi-default-layout" data-route="/"
     data-show-sidemenu="@data_show_sidemenu" data-show-slugs="@data_show_slugs" data-site-mode="true" data-gapless="false">
    <NavMenu />
    @Body
</div>

@code {
    private string data_show_sidemenu = "false";
    private string data_show_slugs = "false";

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;

        base.OnInitialized();
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        if (e.Location.EndsWith("/") == false)
        {
            data_show_sidemenu = "true";
            data_show_slugs = "true";
        }
        else
        {
            data_show_sidemenu = "false";
            data_show_slugs = "false";
        }
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}