@page "/rendersample"

<h1>H.LowCode.RenderEngine</h1>

<p>页面渲染示例：</p>

<p>
    <a href="/form/basicform/1" target="_blank">基础表单渲染</a>
</p>
<p>
    <a href="/form/linkageform/2" target="_blank">联动表单渲染</a>
</p>
<p>
    <a href="/form/validateform/4" target="_blank">校验表单渲染</a>
</p>
<p>
    <a href="/form/complexform/5" target="_blank">复杂表单渲染</a>
</p>
<p>
    <a href="/form/customform/3" target="_blank">自定义表单渲染</a>
</p>
<p>
    <a href="/list" target="_blank">列表渲染</a>
</p>