@*添加节点按钮*@
<div class="add-node-btn-box">
    <div class="add-node-btn">
        @if (IsShowPopover)
        {
            <div role="tooltip" aria-hidden="false" class="el-popover el-popper" tabindex="0"
                style="position: fixed; transform-origin: left center; z-index: 9999; @PopoverStype" x-placement="right-start">
                <div class="add-node-popover-body">
                    <a class="add-node-popover-item approver">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>审批人</p>
                    </a>
                    <a class="add-node-popover-item notifier">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>抄送人</p>
                    </a>
                    <a class="add-node-popover-item condition">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>条件分支</p>
                    </a>
                </div>
                <div x-arrow="" class="popper__arrow" style="top: 8px;"></div>
            </div>
        }
        <button class="btn" type="button" slot="reference" @onclick="ShowPopover" @onblur="OnBlur">
            <span class="iconfont"></span>
        </button>
    </div>
</div>

@code {
    private bool IsShowPopover = false;
    private string PopoverStype = "";

    private void ShowPopover(MouseEventArgs e)
    {
        IsShowPopover = !IsShowPopover;
        PopoverStype = $"top: {e.ClientY - 80}px; left: {e.ClientX + 20}px;";
    }

    private void OnBlur()
    {
        IsShowPopover = false;
    }

    private void AddNode(NodeTypeEnum nodeType)
    {

    }
}