@inherits ContainerComponentBase

<div style="height: auto;">
    @for (int r = 0; r < Rows; r++)
    {
        int rr = r;
        <GridRow Style="min-height:85px; height: auto;">
           @for (int c = 0; c < Cols; c++)
           {
                string key = $"gridcontainer-{rr}-{c}";
                <GridCol Span="@(24/Cols)" Style="width:100%; background-color:#f4f4f4; border: 1px dashed #ded9d9;">
                    <DropItemContainer ContainerComponent="@CreateComponent(key)"></DropItemContainer>
                </GridCol>
           }
        </GridRow>
    }
</div>

@code {
    [Parameter]
    public int Rows { get; set; }

    [Parameter]
    public int Cols { get; set; }
}