@page "/myapp/{AppId}/autoflow"
@namespace H.LowCode.DesignEngine.Admin
@layout DesignEngineAdminLayout

<PageTitle>流程自动化</PageTitle>

<h1>流程自动化</h1>


@code {
    [Parameter]
    public string AppId { get; set; }
}