@inject DragDropStateService DragDropStateService

<div class="designpage" style="margin:5px; height:100%; height:100%;">
    <DropItemContainer ParentDropItemContainerSchema="@RootDropItemContainerSchema"></DropItemContainer>
</div>

@code {
    #region Parameter
    [Parameter]
    public DropItemContainerSchema RootDropItemContainerSchema{ get; set; }
    #endregion

    protected override void OnInitialized()
    {
        Init();

        base.OnInitialized();
    }

    private void Init()
    {
        DragDropStateService.RootDropItemContainerSchema = RootDropItemContainerSchema;
    }
}
