@inject DragDropStateService DragDropStateService

<div class="designpage" style="margin:5px; height:100%; height:100%;">
    <DropItemContainer ParentComponent="@DragDropStateService.RootComponent"></DropItemContainer>
</div>

@code {
    protected override void OnInitialized()
    {
        Init();

        base.OnInitialized();
    }

    private void Init()
    {
        if (DragDropStateService.RootComponent == null)
        {
            var component = new ComponentSchema("root");
            component.Refresh = StateHasChanged;
            DragDropStateService.RootComponent = component;
        }
    }
}
