@inject DragDropStateService DragDropStateService
@implements IDisposable

<div id="@_currentContainerSchema.Id" class="dropitemcontainer @_currentContainerSchema.Class" style="@_currentContainerSchema.Style"
     @onclick="OnClick"
     @ondrop="OnDrop" @ondrop:preventDefault @ondrop:stopPropagation
     @ondragover="(e) => { }" @ondragover:preventDefault @ondragover:stopPropagation>
     
    @if (_currentContainerSchema.Components.Any())
    {
        @foreach (var component in _currentContainerSchema.Components)
        {
            <DropItem Style="@(_currentContainerSchema.Style)" ComponentSchema="component"
                OnItemClick="OnItemClick" OnItemDelete="OnItemDelete" OnItemCopy="OnItemCopy" />
        }
    }
</div>

@code {
    #region Parameter
    [Parameter]
    public bool IsRootContainer{ get; set; }
    #endregion

    #region Private Variables
    /// <summary>
    /// 
    /// </summary>
    private ComponentContainerSchema _parentContainerSchema { get; set; }

    /// <summary>
    /// 当前组件的 Schema 对象
    /// </summary>
    private ComponentContainerSchema _currentContainerSchema { get; set; }

    #endregion

    #region Init
    protected override void OnInitialized()
    {
        Init();
        RegisterEventDispatcher();

        base.OnInitialized();
    }

    private void Init()
    {
        // if (IsRootContainer == false && ParentContainerSchema == null)
        //     throw new ArgumentNullException(nameof(ParentContainerSchema));

        if (_currentContainerSchema == null)
        {
            _currentContainerSchema = new ComponentContainerSchema();
            _currentContainerSchema.Refresh = Refresh;

            if (IsRootContainer)
            {
                DragDropStateService.RootContainerSchema = _currentContainerSchema;
            }
        }
    }

    private void RegisterEventDispatcher()
    {
        //订阅设计面板取消选中事件
        BlazorEventDispatcher.RegisterEvent("designengine.dropitem.onblur", (value) =>
        {
            //取消选中项
            if (DragDropStateService.LastSelectedComponent != null)
            {
                DragDropStateService.LastSelectedComponent.IsSelected = false;
                StateHasChanged();
            }
        });

        //根容器才订阅组件点击事件 - 添加组件
        if (IsRootContainer)
        {
            //订阅左侧组件面板中的组件点击事件
            BlazorEventDispatcher.RegisterEvent("designengine.dragitem.onclick", (value) =>
            {
                DropComponentHandler((ComponentSchema)value);
            });
        }
    }
    #endregion

    #region Event
    private void OnDrop()
    {
        DropComponentHandler(DragDropStateService.CurrentDragComponent);

        //重置拖拽样式
        DragDropStateService.ResetComponentStyle();
    }

    private void OnClick()
    {
        BlazorEventDispatcher.Trigger("designengine.dropitem.onblur", null);
    }

    private void OnItemClick(ComponentSchema componentSchema)
    {
        //取消上一个选中，设置当前选中项
        if (DragDropStateService.LastSelectedComponent != null)
            DragDropStateService.LastSelectedComponent.IsSelected = false;

        componentSchema.IsSelected = true;
        DragDropStateService.LastSelectedComponent = componentSchema;

        StateHasChanged();
    }

    private void OnItemDelete(ComponentSchema componentSchema)
    {
        //将下一个设为选中
        int index = _currentContainerSchema.Components.IndexOf(componentSchema);
        if (_currentContainerSchema.Components.Count > 1)
        {
            int next = index + 1 >= _currentContainerSchema.Components.Count ? index - 1 : index + 1;
            _currentContainerSchema.Components[next].IsSelected = true;
            DragDropStateService.LastSelectedComponent = _currentContainerSchema.Components[next];
        }
        _currentContainerSchema.Components.Remove(componentSchema);
        StateHasChanged();
    }

    private void OnItemCopy(ComponentSchema componentSchema)
    {
        componentSchema.IsSelected = false;
        DragItem_Add(_currentContainerSchema.Components, componentSchema, true);
        StateHasChanged();
    }
    #endregion

    #region private
    /// <summary>
    /// 拖动 ComponentSchema 释放时处理逻辑
    /// </summary>
    /// <param name="componentSchema"></param>
    private void DropComponentHandler(ComponentSchema componentSchema)
    {
        // TODO
        // if (_parentContainerSchema == null)
        // {
        //     _parentContainerSchema = new ComponentContainerSchema();
        //     _currentContainerSchema.ParentId = _parentContainerSchema.Id;
        //     _parentContainerSchema.Childrens.Add(_currentContainerSchema);
        // }

        // 如果组件来源于 ComponentPanel，则新增
        if (componentSchema.IsDroppedFromComponentPanel)
        {
            DragItem_Add(_currentContainerSchema.Components, componentSchema);
        }
        else  // 如果组件在 DesignPanel 内部拖拽
        {
            //是否跨 DropItemContainer 移动
            bool isChangeContainer = (componentSchema.ParentContainerId.Equals(_currentContainerSchema.Id) == false);
            if (isChangeContainer)   //如果跨 DropItemContainer 拖拽，则移动同时设置顺序
            {
                Console.WriteLine("move");
                DragItem_Move(_currentContainerSchema, componentSchema.ParentContainerId, componentSchema);
            }
            else     // 如果在同一个 DropItemContainer 内拖拽，则移动顺序
            {
                Console.WriteLine("sorting");
                DropItem_Sorting(DragDropStateService.LastDragOverComponent, componentSchema);
            }
        }

        StateHasChanged();
    }

    /// <summary>
    /// 新增 DragItem
    /// </summary>
    /// <param name="componentSchemas"></param>
    /// <param name="componentSchema"></param>
    /// <param name="isSelected"></param>
    private void DragItem_Add(IList<ComponentSchema> componentSchemas, ComponentSchema componentSchema, bool isSelected = false)
    {
        var dropComponentSchema = componentSchema;//.DeepClone();
        dropComponentSchema.ParentContainerId = _currentContainerSchema.Id;
        dropComponentSchema.IsDroppedFromComponentPanel = false;
        if (isSelected)
        {
            dropComponentSchema.IsSelected = isSelected;
            DragDropStateService.LastSelectedComponent = dropComponentSchema;
        }
        componentSchemas.Add(dropComponentSchema);
    }

    /// <summary>
    /// 跨 DropItemContainer 移动 DropItem
    /// </summary>
    /// <param name="newContainerSchema"></param>
    /// <param name="oldContainerId"></param>
    /// <param name="componentSchema"></param>
    private void DragItem_Move(ComponentContainerSchema newContainerSchema, string oldContainerId, ComponentSchema componentSchema)
    {
        //当前 DropItemContainer 新增
        componentSchema.ParentContainerId = newContainerSchema.Id;
        DragItem_Add(newContainerSchema.Components, componentSchema);

        //上一个 DropItemContainer 移除
        var oldContainerSchema = DragDropStateService.FindContainerSchemaById(oldContainerId);
        oldContainerSchema.Components.Remove(componentSchema);
        oldContainerSchema.Refresh_StateChange();  //刷新上一个 DropItemContainer，使 Remove 立即生效
    }

    /// <summary>
    /// 排序 DragItem
    /// </summary>
    /// <param name="dragOverComponent"></param>
    /// <param name="currentDragComponent"></param>
    private void DropItem_Sorting(ComponentSchema dragOverComponent, ComponentSchema currentDragComponent)
    {
        if (dragOverComponent == null)
            return;

        if (currentDragComponent == DragDropStateService.LastDragOverComponent)
            return;

        var indexDraggedOverItem = _currentContainerSchema.Components.IndexOf(dragOverComponent);
        if (dragOverComponent.IsDroppedToBack == false)
            indexDraggedOverItem -= 1;

        if (indexDraggedOverItem < 0)
            indexDraggedOverItem = 0;
        if (indexDraggedOverItem > _currentContainerSchema.Components.Count)
            indexDraggedOverItem = _currentContainerSchema.Components.Count - 1;

        //先移除，再插入对应位置
        _currentContainerSchema.Components.Remove(currentDragComponent);
        _currentContainerSchema.Components.Insert(indexDraggedOverItem, currentDragComponent);
    }

    private void Refresh()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        DragDropStateService.ResetComponent();
    }
    #endregion
}