@inject DragDropService DragDropService
@implements IDisposable

<div class="@ComponentContainerSchema.Class" style="height:100%; @ComponentContainerSchema.Style" ondragstart="event.dataTransfer.setData('text', event.target.id);"
     @onclick="OnClick"
     @ondrop="OnDrop" @ondrop:preventDefault @ondrop:stopPropagation
     @ondragover="OnDragOver" @ondragover:preventDefault @ondragover:stopPropagation>
     
    @if (ComponentContainerSchema != null)
    {
        @foreach (var component in ComponentContainerSchema.ComponentSchemas)
        {
            DropItemType dropItemType = DropItemType.Component;
            if (component.ComponentCategory == ComponentCategory.Layout)
            {
                dropItemType = DropItemType.Layout;
            }
            <DropItem DropItemType="@dropItemType" Style="@ComponentContainerSchema.Style" @ref="currentDropItem" ComponentSchema="component" OnItemClick="OnItemClick" OnItemDelete="OnItemDelete" OnItemCopy="OnItemCopy">
            </DropItem>
        }
    }
</div>

@code {
    #region Parameter
    [Parameter]
    public ComponentContainerSchema ComponentContainerSchema { get; set; }
    #endregion

    private DropItem currentDropItem { get; set; }

    #region Event
    protected override void OnInitialized()
    {
        Init();
        RegisterEventDispatcher();

        base.OnInitialized();
    }

    private void OnDrop()
    {
        var currentDragComponent = DragDropService.CurrentDragComponent;

        //源拖拽区才新增，目标拖拽区只移动
        DragDropService.DropItem_DragEnd();

        if (currentDragComponent.IsDroppedFromComponentPanel == false)
        {
            DragDropService.DragItem_Add(ComponentContainerSchema.ComponentSchemas, currentDragComponent);
        }
        else
        {
            DropItemSorting(DragDropService.LastDragOverComponent, currentDragComponent);
        }

        StateHasChanged();
    }

    private void OnDragOver(DragEventArgs dragEventArgs)
    {
        //Style = "border: 2px dashed #1890ff;";
    }

    private void OnClick()
    {
        BlazorEventDispatcher.Trigger("designengine.dropitem.onblur", null);
    }

    private void OnItemClick(ComponentSchema componentSchema)
    {
        //取消上一个选中，设置当前选中项
        if (DragDropService.LastSelectedComponent != null)
            DragDropService.LastSelectedComponent.IsSelected = false;

        componentSchema.IsSelected = true;
        DragDropService.LastSelectedComponent = componentSchema;

        StateHasChanged();
    }

    private void OnItemDelete(ComponentSchema componentSchema)
    {
        //将下一个设为选中
        int index = ComponentContainerSchema.ComponentSchemas.IndexOf(componentSchema);
        if (ComponentContainerSchema.ComponentSchemas.Count > 1)
        {
            int next = index + 1 >= ComponentContainerSchema.ComponentSchemas.Count ? index - 1 : index + 1;
            ComponentContainerSchema.ComponentSchemas[next].IsSelected = true;
            DragDropService.LastSelectedComponent = ComponentContainerSchema.ComponentSchemas[next];
        }
        ComponentContainerSchema.ComponentSchemas.Remove(componentSchema);
        StateHasChanged();
    }

    private void OnItemCopy(ComponentSchema componentSchema)
    {
        componentSchema.IsSelected = false;
        DragDropService.DragItem_Add(ComponentContainerSchema.ComponentSchemas, componentSchema, true);
        StateHasChanged();
    }
    #endregion

    #region
    private void Init()
    {
        if (ComponentContainerSchema == null)
            ComponentContainerSchema = new ComponentContainerSchema();
    }

    private void RegisterEventDispatcher()
    {
        //订阅设计面板取消选中事件
        BlazorEventDispatcher.RegisterEvent("designengine.dropitem.onblur", (value) =>
        {
            //取消选中项
            if (DragDropService.LastSelectedComponent != null)
            {
                DragDropService.LastSelectedComponent.IsSelected = false;
                StateHasChanged();
            }
        });
    }

    /// <summary>
    /// 排序
    /// </summary>
    /// <param name="dragOverComponent"></param>
    /// <param name="currentDragComponent"></param>
    private void DropItemSorting(ComponentSchema dragOverComponent, ComponentSchema currentDragComponent)
    {
        if (dragOverComponent == null)
            return;

        if (currentDragComponent == DragDropService.LastDragOverComponent)
            return;

        var indexDraggedOverItem = ComponentContainerSchema.ComponentSchemas.IndexOf(dragOverComponent);
        if (dragOverComponent.IsDroppedToBack == false)
            indexDraggedOverItem -= 1;

        if (indexDraggedOverItem < 0)
            indexDraggedOverItem = 0;
        if (indexDraggedOverItem > ComponentContainerSchema.ComponentSchemas.Count)
            indexDraggedOverItem = ComponentContainerSchema.ComponentSchemas.Count - 1;

        //先移除，再插入对应位置
        ComponentContainerSchema.ComponentSchemas.Remove(currentDragComponent);
        ComponentContainerSchema.ComponentSchemas.Insert(indexDraggedOverItem, currentDragComponent);
    }

    public void Dispose()
    {
        DragDropService.Reset();
    }
    #endregion
}