@inject DragDropStateService DragDropStateService

<div class="designpage" style="margin:5px; height:100%; height:100%;">
    <ComponentContainer ParentComponentContainerSchema="@RootComponentContainerSchema"></ComponentContainer>
</div>

@code {
    #region Parameter
    [Parameter]
    public ComponentContainerSchema RootComponentContainerSchema{ get; set; }
    #endregion

    protected override void OnInitialized()
    {
        Init();

        base.OnInitialized();
    }

    private void Init()
    {
        DragDropStateService.RootComponentContainerSchema = RootComponentContainerSchema;
    }
}
