<div class="designpage" style="margin:5px; height:100%; height:100%;">
    <ComponentContainer ComponentSchemas="@RootComponentSchemas" IsRootContainer="true"></ComponentContainer>
</div>

@code {
    #region Parameter
    [Parameter]
    public IList<ComponentSchema> RootComponentSchemas { get; set; } = new List<ComponentSchema>();
    #endregion
}
