<div draggable="true" class="dragitem" @ondragstart="()=>OnDragStart(ComponentSchema)" @onclick="()=>OnClick(ComponentSchema)">
    @ComponentSchema.ComponentJsonSchema.Title
</div>

@code
{
    [Parameter]
    public ComponentSchema ComponentSchema{ get; set; }

    [Parameter]
    public Action<ComponentSchema> OnItemDragStart { get; set; }

    private void OnDragStart(ComponentSchema componentSchema)
    {
        ComponentSchema dragComponentSchema = componentSchema.Clone();
        OnItemDragStart.Invoke(dragComponentSchema);
    }

    private void OnClick(ComponentSchema componentSchema)
    {
        //发送事件，通知订阅此事件的其他组件更新状态
        ComponentSchema clickComponentSchema = componentSchema.Clone();
        clickComponentSchema.IsDroppedFromComponentPanel = true;
        BlazorEventDispatcher.Dispatch("designerengine.dragitem.onclick", clickComponentSchema);
    }
}