@page "/myapps"

<Card Title="图书管理系统" Style="width:300px; margin:5px;">
    <Extra>
        <a href="/myapp/bookapp">More</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>

<Card Title="学生管理系统" Style="width:300px; margin:5px;">
    <Extra>
        <a href="/myapp/studentapp">More</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>