@page "/new"


<h1>新建应用</h1>

Welcome to your new app.

<br/>
<br/>

<h1>从模板新建</h1>
<Card Title="采购管理" Style="width:300px; margin:5px;">
    <Extra>
        <a href="#">More</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>

<Card Title="员工档案" Style="width:300px; margin:5px;">
    <Extra>
        <a href="/myapp/studentapp">More</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
