@page "/myapp/{AppId}/integration"
@namespace H.LowCode.MyApp
@inherits LowCodePageComponentBase
@layout MyAppLayout

<PageTitle>集成</PageTitle>

<h1>集成</h1>


@code {
    [Parameter]
    public string AppId { get; set; }
}