@page "/myapp/{AppId}/appsettings"
@namespace H.LowCode.MyApp
@inherits LowCodePageComponentBase
@layout MyAppLayout

<PageTitle>应用设置</PageTitle>

<h1>应用设置</h1>


@code {
    [Parameter]
    public string AppId { get; set; }
}