.designengineadmin .ant-pro-basicLayout-content {
    margin: 16px;
}

.designengineadmin .ant-layout, .designengineadmin .ant-pro-basicLayout-content {
    height: 100%;
}

.designengineadmin .ant-pro-basicLayout-children-content-wrap, .designengineadmin .ant-layout-content {
    height: 100%;
}

