.renderengine-componentitem-box {
    height: 85px;
    border: #ffffff solid 2px;
    position: relative;
    display: flex;
    padding: 20px 8px 5px 8px;
    background-color: #ffffff;
}

.renderengine-componentitem-div-component {
    width: 100%;
    padding-right: 5px;
}
