@page "/myapp/create"

<h1>新建空白应用</h1>
<Card Bordered="true" Style="width:300px; margin:5px;">
    <a href="/myapp/create">新建应用</a>
</Card>
<br/>
<br/>

<h1>从模板新建</h1>
<div>
    <RadioGroup TValue="string">
        <Radio RadioButton Value="@("all")">全部</Radio>
        <Radio RadioButton Value="@("jypx")">教育培训</Radio>
        <Radio RadioButton Value="@("xzgl")">行政管理</Radio>
        <Radio RadioButton Value="@("scgl")">生产管理</Radio>
    </RadioGroup>
</div>

<Card Title="采购管理" Style="width:300px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">新建</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
<Card Title="员工档案" Style="width:300px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">新建</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>
