@namespace H.LowCode.Components.AntBlazor
@inherits ContainerComponentBase

<Card Title="@Component.Label" Style="width:100%; height:auto">
    <Extra>
        <a>More</a>
    </Extra>
    <Body>
        <DropItemContainer ContainerComponent="@CreateComponent("card-1", (component)=>{ component.Style.DefaultStyle="min-height:90px; height:auto; background: #f4f7fa;";})"></DropItemContainer>
    </Body>
</Card>

@code {
    #region override
    protected override bool ShouldRender()
    {
        return false;
    }
    #endregion

    #region
    private void OnTabChange()
    {

    }
    #endregion
}