<div draggable="true" @ondragstart="()=>OnDragStart(DragDropItem)" @onclick="()=>OnClick(DragDropItem)"
    style="width: 7.2rem; height: 2.2rem; margin: 4px; cursor: pointer;
    display: flex; justify-content: center; align-items: center; color: #333; background-color: #f5f7fa;">
    @DragDropItem.Title
</div>

@code
{
    [Parameter]
    public DragDropItem DragDropItem{ get; set; }

    [Parameter]
    public Action<DragDropItem> OnItemDragStart { get; set; }

    private void OnDragStart(DragDropItem item)
    {
        DragDropItem dropItem = item.Clone();
        OnItemDragStart.Invoke(dropItem);
    }

    private void OnClick(DragDropItem item)
    {
        //发送事件，通知订阅此事件的其他组件更新状态
        DragDropItem dropItem = item.Clone();
        BlazorEventDispatcher.Dispatch("designerengine.dragitem.onclick", dropItem);
    }
}