@page "/workbench/ecosystem/{Tab?}"
@namespace H.LowCode.Workbench
@inherits LowCodePageComponentBase
@layout WorkbenchLayout

<PageTitle>生态中心 - H.LowCode</PageTitle>

<Tabs DefaultActiveKey="apps" ActiveKey="@_tabKey" Centered Animated Style="width: 80%; margin: auto;">
    <TabPane Tab="应用模板" Key="apps">
        <AppTemplates></AppTemplates>
    </TabPane>
    <TabPane Tab="主题" Key="themes">
        <ThemePartsList></ThemePartsList>
    </TabPane>
    <TabPane Tab="组件库" Key="componentlibraries">
        @if (string.IsNullOrEmpty(LibraryId))
        {
            <ComponentLibraryList Refresh="Refresh"></ComponentLibraryList>
        }
        else
        {
            <ComponentPartsList LibraryId="@LibraryId" Refresh="Refresh"></ComponentPartsList>
        }
    </TabPane>
    <TabPane Tab="页面库" Key="pages">
        <PagePartsList></PagePartsList>
    </TabPane>
    <TabPane Tab="API 库" Key="apis">
        <Card Title="钉钉 API" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
    </TabPane>
    <TabPane Tab="插件" Key="plugins">
        <Card Title="微信支付" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">安装</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="支付宝" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">安装</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="ChatGPT" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">安装</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="电子签章" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">安装</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
    </TabPane>
</Tabs>

@code {
    [Parameter]
    public string Tab { get; set; }

    private string LibraryId => GetQueryValue("libId");

    private string _tabKey => Tab ?? "apps";

    private void Refresh()
    {
        StateHasChanged();
    }
}