@using H.LowCode.DesignEngine.DesignPanel
@using H.LowCode.Schema
@*@inject DragDropService DragDropService*@

<div style="height:100%;" @ondrop="OnDrop" ondragstart="event.dataTransfer.setData('text', event.target.id);" 
    @ondrop:stopPropagation @ondragstart:stopPropagation @ondragenter:stopPropagation 
    @ondragover:preventDefault @ondragover:stopPropagation @ondragleave:stopPropagation @ondragend:stopPropagation>
    @if(ComponentSchemas == null)
    {
        <div style="width:100%; height:100%; background-color:#f4f4f4; border: 1px dashed #ded9d9;"></div>
    }else{
        @foreach (var componentSchema in ComponentSchemas)
        {
            <DropItem ComponentSchema="componentSchema"></DropItem>
        }
    }
</div>

@code {
    [Parameter]
    public IList<ComponentSchema> ComponentSchemas{ get; set; }

    private void OnDrop()
    {
        ComponentSchema componentSchema = new ComponentSchema(ComponentType: "input")
            {
                SupportProperties = new List<string>() { "MaximumLength", "MinimumLength", "Pattern", "Format" },
                RenderFragment = (builder) =>
                {
                    builder.OpenComponent(1, typeof(Input<string>));
                    builder.CloseComponent();
                },
                ComponentPropertySchema = new ComponentPropertySchema()
                {
                    Title = "输入框",
                    ComponentValueType = ComponentValueType.String
                }
            };

        if (ComponentSchemas == null)
            ComponentSchemas = new List<ComponentSchema>();
        ComponentSchemas.Add(componentSchema);

        StateHasChanged();
    }
}
