body {
}

.myapps .ant-card-meta-avatar, .myapps .ant-card-meta-title {
    cursor: pointer;
}
.myapps .ant-card-meta-detail {
    color: #a2a3a5;
    font-size: 12px;
}
.myapps .ant-card-meta-title {
    color: #171a1d;
    font-size: 16px;
}
    .myapps .ant-card-meta-title:hover {
        color: #40a9ff;
    }