@page "/lowcode/htmldragdrop"

<DocList></DocList>
<SlugList SlugItems="@slugItems"></SlugList>
<Content>
    <Markdown FileName="HtmlDragDrop.md" Type="typeof(DocList)"></Markdown>
    <CodeBox>
        @Code
    </CodeBox>
    <Markdown>
        <p>
            拖拽示例
        </p>
    </Markdown>
    <DocFooter></DocFooter>
</Content>

@code {
    private IList<SlugItem> slugItems = new List<SlugItem>()
    {
        new SlugItem(){ Path="#draggable", Title="可拖拽属性" },
        new SlugItem(){ Path="#ondragstart", Title="开始拖拽操作" },
        new SlugItem(){ Path="#dataTransfer", Title="拖拽数据" },
        new SlugItem(){ Path="#setDragImage", Title="设置拖拽反馈图像" },
        new SlugItem(){ Path="#effectAllowed", Title="拖拽效果" },
        new SlugItem(){ Path="#dropTarget", Title="指定放置目标" },
        new SlugItem(){ Path="#dropEffect", Title="放置反馈" },
        new SlugItem(){ Path="#ondrop", Title="执行放置" },
        new SlugItem(){ Path="#ondragend", Title="完成拖拽" }
    };

    private string Code = "Code - 拖拽示例";
}