@page "/custom"

<h3>Form Template</h3>

@CreateDynamicComponent()

@code {
    private RenderFragment CreateDynamicComponent() => builder =>
    {
        builder.OpenElement(0, "h3");
        builder.AddContent(1, "动态渲染: " + new Random().Next());
        builder.CloseElement();
    };
}