<div class="__dumi-default-previewer">
    <div class="__dumi-default-previewer-demo">
        @ChildContent
    </div>
    <div class="__dumi-default-previewer-desc"></div>
    <div class="__dumi-default-previewer-actions">
        <button title="Copy source code" class="__dumi-default-icon" role="copy" data-status="ready">
        </button>
        <button title="Toggle source code panel" class="__dumi-default-icon" role="source" type="button">
        </button>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
