<div class="__dumi-default-layout-features">
    <dl style="background-image: url(&quot;https://gw.alipayobjects.com/zos/bmw-prod/881dc458-f20b-407b-947a-95104b5ec82b/k79dm8ih_w144_h144.png&quot;);">
        <dt>Feature 1</dt>
        <dd>
            <div class="markdown">
                <p>Balabala</p>
            </div>
        </dd>
    </dl>
    <dl style="background-image: url(&quot;https://gw.alipayobjects.com/zos/bmw-prod/d60657df-0822-4631-9d7c-e7a869c2f21c/k79dmz3q_w126_h126.png&quot;);">
        <dt>Feature 2</dt>
        <dd>
            <div class="markdown">
                <p>Balabala</p>
            </div>
        </dd>
    </dl>
    <dl style="background-image: url(&quot;https://gw.alipayobjects.com/zos/bmw-prod/d1ee0c6f-5aed-4a45-a507-339a4bfe076c/k7bjsocq_w144_h144.png&quot;);">
        <dt>Feature 3</dt>
        <dd>
            <div class="markdown">
                <p>Balabala</p>
            </div>
        </dd>
    </dl>
</div>

@code {

}
