<div class="__dumi-default-layout-hero">
    <h1>@Title</h1>
    <div>
        <div class="markdown"><p>@Description</p></div>
    </div>
    <a href="@GettingStartPath"><button type="button">Getting Started</button></a>
</div>

@code {
    [Parameter]
    public string Title{ get; set; }

    [Parameter]
    public string Description{ get; set; }

    [Parameter]
    public string GettingStartPath { get; set; }
}
