<div class="markdown">
    @if (string.IsNullOrEmpty(FileName))
    {
        @ChildContent
    }
    else
    {
        @(new MarkupString(html))
    }
</div>

@code {
    [Parameter]
    public string FileName { get; set; }

    [Parameter]
    public Type Type{ get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string html { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(FileName) == false)
        {
            if (Type == null)
                throw new ArgumentNullException(nameof(Type));
            html = MarkdownToHtml.ConvertToHtml(FileName, Type);
        }

        base.OnInitialized();
    }
}
