@inject NavigationManager NavigationManager;

<ul role="slug-list" class="__dumi-default-layout-toc">
    @foreach (var item in SlugItems)
    {
        string active = string.Equals(url + item.Path, activeSlug) ? "active" : string.Empty;
        <li title="@item.Title" data-depth="2">
            <a href="@(url + item.Path)" class="@active" @onclick="() => OnSlugClick(url + item.Path)"><span>@item.Title</span></a>
        </li>
    }
</ul>

@code {
    [Parameter]
    public IList<SlugItem> SlugItems { get; set; }

    private string url;
    private string activeSlug;

    protected override void OnInitialized()
    {
        url = NavigationManager.Uri;

        base.OnInitialized();
    }

    private void OnSlugClick(string href)
    {
        activeSlug = href;

        StateHasChanged();
    }
}
