<ul role="slug-list" class="__dumi-default-layout-toc">
    @foreach (var item in SlugItems)
    {
        <li title="@item.Title" data-depth="2">
            <a href="@item.Path"><span>@item.Title</span></a>
        </li>
    }
</ul>

@code {
    [Parameter]
    public IList<SlugItem> SlugItems { get; set; }
}
