@*发起节点*@
<div class="node-wrap-box start-node">
    <div>
        <div class="title" style="background: rgb(87, 106, 149);">
            <span class="iconfont" style="display: none;"></span>
            <span class="iconfont" style="display: none;"></span>
            <span>发起人</span>
        </div>
        <div class="content">
            <div class="text">所有人</div>
            <i class="anticon anticon-right arrow"></i>
        </div>
    </div>
</div>
<AddNodeButton></AddNodeButton>

@*遍历普通子节点*@
@foreach(var childNode in Node.ChildNodes)
{
    <NodeWrap Node="@childNode"></NodeWrap>
}

@code {
    [Parameter]
    public NodeModelBase Node { get; set; }

    private void ShowSettingPanel()
    {
        
    }

}