@inject DragDropService DragDropService

<Title Level="4">基础组件</Title>
@foreach(var model in _basicDragComponents)
{
    <DragItem ComponentSchema="model" OnItemDragStart="OnItemDragStart"></DragItem>
}

<Divider />

<Title Level="4">高级组件</Title>
@*@foreach(var model in _seniorDragComponents)
{
    <DragItem ComponentSchema="model" OnItemDragStart="OnItemDragStart"></DragItem>
}*@

<Divider />

<Title Level="4">布局组件</Title>
@*@foreach(var model in _layoutDragComponents)
{
    <DragItem ComponentSchema="model" OnItemDragStart="OnItemDragStart"></DragItem>
}*@

@code {
    private List<ComponentSchema> _basicDragComponents;
    private List<ComponentSchema> _seniorDragComponents;
    private List<ComponentSchema> _layoutDragComponents;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        InitBasicComponents();
        InitSeniorComponents();
        InitLayoutComponents();
    }

    private void InitBasicComponents()
    {
        _basicDragComponents = new List<ComponentSchema>()
        {
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "输入框", Type = JSchemaType.String },
                ComponentType = "input",
                ComponentPropertySchema = new InputPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(1, typeof(Input<string>));
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "大输入框" },
                ComponentType = "textarea",
                ComponentPropertySchema = new TextareaPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(0, typeof(TextArea));
                    builder.AddAttribute(1, "style", "height:50px;");
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "日期选择" },
                ComponentType = "datepicker",
                ComponentPropertySchema = new DatePickerPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(0, typeof(DatePicker<DateTime?>));
                    builder.AddAttribute(1, "Picker", DatePickerType.Date);
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "数字输入框", Type = JSchemaType.Integer},
                ComponentType = "inputnumber",
                ComponentPropertySchema = new InputNumberPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(0, typeof(AntDesign.InputNumber<int>));
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "是否选择" },
                ComponentType = "checkbox",
                ComponentPropertySchema = new CheckboxPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(0, typeof(Select<string, string>));
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "是否switch" },
                ComponentType = "switch",
                ComponentPropertySchema = new SwitchPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(0, typeof(Switch));
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "下拉选择" },
                ComponentType = "radio",
                ComponentPropertySchema = new RadioPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(0, typeof(Radio<string>));
                    builder.CloseComponent();
                }
            }
        };
    }

    private void InitSeniorComponents()
    {
        _seniorDragComponents = new List<ComponentSchema>()
        {
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "折叠面板", Type = JSchemaType.String },
                ComponentType = "collapse",
                ComponentPropertySchema = new CollapsePropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(1, typeof(Collapse));
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "上传" },
                ComponentType = "upload",
                ComponentPropertySchema = new UploadPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(0, typeof(Upload));
                    builder.CloseComponent();
                }
            }
        };
    }

    private void InitLayoutComponents()
    {
        _layoutDragComponents = new List<ComponentSchema>()
        {
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "分割线", Type = JSchemaType.String },
                ComponentType = "divider",
                ComponentPropertySchema = new DividerPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    builder.OpenComponent(1, typeof(Divider));
                    builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "栅格" },
                ComponentType = "grid",
                ComponentPropertySchema = new GridPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    //builder.OpenComponent(0, typeof());
                    //builder.CloseComponent();
                }
            },
            new ComponentSchema(){
                ComponentJSchema = new Newtonsoft.Json.Schema.JSchema(){ Title = "布局" },
                ComponentType = "layout",
                ComponentPropertySchema = new LayoutPropertyModel(),
                DropRenderFragment = (builder) =>
                {
                    //builder.OpenComponent(0, typeof());
                    //builder.CloseComponent();
                }
            }
        };
    }

    public void OnItemDragStart(ComponentSchema model)
    {
        //设置当前拖拽项
        DragDropService.CurrentDragComponent = model;
    }
}
