@inject DragDropService DragDropService

<div draggable="true" class="dragitem" @ondragstart="OnDragStart" @onclick="OnClick">
    @ComponentSchema.ComponentPropertySchema.Title
</div>

@code
{
    [Parameter]
    public ComponentSchema ComponentSchema{ get; set; }

    private void OnDragStart(DragEventArgs dragEventArgs)
    {
        ComponentSchema dragComponentSchema = ComponentSchema.Clone();
        //设置当前拖拽项
        DragDropService.CurrentDragComponent = dragComponentSchema;
    }

    private void OnClick()
    {
        //发送事件，通知订阅此事件的其他组件更新状态
        ComponentSchema clickComponentSchema = ComponentSchema.Clone();
        clickComponentSchema.IsDroppedFromComponentPanel = true;
        BlazorEventDispatcher.Trigger("designengine.dragitem.onclick", clickComponentSchema);
    }
}