@page "/form/{Id}"

@using H.Extensions.System

@inject HttpClient Http
@inject IRender render

<style scoped>
.field {
    width: 100%;
    height: 40px;
    margin: 5px 10px;
    display: inline-block;
}

    .field .field-label {
        width: 100px;
        display: inline-block;
        text-align: right;
    }

    .field .field-value {
        height: 30px;
        width: 380px;
    }
</style>

<h3>Form Template</h3>

@RenderFragment

@code {
    [Parameter]
    public string Id { get; set; }

    public RenderFragment RenderFragment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var pageSchema = await Http.GetFromJsonAsync<PageSchema>($"jsonschema/form/{Id}.json?_={DateTime.Now.Ticks}");
        
        RenderFragment = render.Render(pageSchema, PageRenderType.Form);
    }
}