@page "/workbench/solutions"
@namespace H.LowCode.Workbench
@layout WorkbenchLayout

<PageTitle>解决方案 - H.LowCode</PageTitle>

<style>
    .solution-banner {
        text-align: center;
        height: 160px;
        line-height: 160px;
        overflow: hidden;
        margin: -24px -24px 10px -24px;
        background-size: 100% 160px;
        background-image: url(_content/H.LowCode.Workbench/images/img_002.jpg);
    }
</style>

<div class="solution-banner">
    <div style="font-size: 24px; font-weight: bold;">
        <span>低代码平台</span>
        <span style="color: white; -webkit-text-fill-color: transparent;
                background: -webkit-linear-gradient(360deg, #0089ff 30%, #30e724);
                background-clip: text; -webkit-background-clip: text;">解决方案</span>
    </div>
</div>

<Tabs DefaultActiveKey="tab_template_app" Class="center-div" Centered Animated Style="width: 80%; margin: auto;">
    <TabPane Tab="行业解决方案" Key="tab_solution_industry">
        <Card Title="智慧医院" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="餐饮连锁" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="酒店行业" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
    </TabPane>
    <TabPane Tab="集成解决方案" Key="tab_template_integration">
        <Card Title="微信集成" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="钉钉集成" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="飞书集成" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="页面集成" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="数据集成" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="流程审批集成" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="报表集成" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
    </TabPane>
    <TabPane Tab="开放能力" Key="tab_template_capabilities">
        <Card Title="JAVA SDK" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
        <Card Title="个性化定制" Style="float:left; width:300px; margin:5px;">
            <Extra>
                <a href="#">查看</a>
            </Extra>
            <Body>
                <p>Card content</p>
            </Body>
        </Card>
    </TabPane>
</Tabs>