<div>StyleSetting</div>

@code {
    [Parameter]
    public ComponentSchema ComponentSchema { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (ComponentSchema == null)
            throw new NullReferenceException($"{ComponentSchema} is null");
    }

    private void OnPropertyChange()
    {
        BlazorEventDispatcher.Trigger("designengine.stylesetting.onchange", null);
    }
}
