<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">H.LowCode</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> 首页
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form/basicform/1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 基础表单
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form/linkageform/2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 联动表单
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form/customform/3">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 自定义表单
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form/validateform/4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 校验表单
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form/complexform/5">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 复杂表单
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 列表
            </NavLink>
        </div>
    </nav>
</div>
