@page "/sample"
@attribute [MenuItem(Order:2)]

<DocList></DocList>
<SlugList SlugItems="@slugItems"></SlugList>
<Content>
    <Markdown FileName="Sample.md" Type="typeof(DocList)"></Markdown>
    <CodeBox>
        @Code
    </CodeBox>
    <Markdown>
        <p>
            文档编写示例
        </p>
    </Markdown>
    <Markdown FileName="Sample1.Sample1.md" Type="typeof(DocList)"></Markdown>
    <DocFooter></DocFooter>
</Content>

@code {
    private IList<SlugItem> slugItems = new List<SlugItem>()
    {
        new SlugItem(){ Path="#doc1", Title="doc1" },
        new SlugItem(){ Path="#doc2", Title="doc2" },
        new SlugItem(){ Path="#doc3", Title="doc3" }
    };

    private string Code = "Code - 文档编写";
}