@page "/"
@page "/{AppId}/index"
@namespace H.LowCode.ThemeParts.AntBlazor
@layout AntBlazorThemeLayout

<PageTitle>首页</PageTitle>

<h3>首页</h3>

@code {
    [Parameter]
    public string AppId { get; set; }
        
}
