@page "/{AppId}/{PageId}"

@layout AntBlazorThemeLayout

<h3>@PageId</h3>

@code {
    [Parameter]
    public string AppId { get; set; }

    [Parameter]
    public string PageId { get; set; }
    
}
