@namespace H.LowCode.RenderEngine
@inherits LowCodeComponentBase

@inject IFormDataAppService FormDataAppService

@foreach (var component in Page.Components)
{
    <ComponentRender Component="@component" IsInRootContainer="true"></ComponentRender>
}

@* 保存、取消按钮 *@
<div style="width: 200px; height: 85px; position:fixed; bottom:20px; right: 280px;">
    <button>保存</button>
    <button>取消</button>
</div>

@code {
    [Parameter]
    public PageSchema Page { get; set; }

    [Parameter]
    public string DataId { get; set; }

    private FormDataDTO formDTO;

    protected override async Task OnInitializedAsync()
    {
        formDTO = await FormDataAppService.GetAsync(Page.AppId, Page.Id, DataId);
    }
}