<Card Title="@Component.ComponentProperty.Title" Style="width:100%; height:auto">
    <Extra>
        <a>More</a>
    </Extra>
    <Body>
        <DropItemContainer ParentComponent="@CreatComponent("card-1")" Style="min-height:90px; height:auto; background: #f4f7fa;"></DropItemContainer>
    </Body>
</Card>

@code {
    [Parameter]
    public ComponentSchema Component { get; set; }

    /// <summary>
    /// 保存初始的 Component，避免跟随 Component 变化
    /// </summary>
    private ComponentSchema _component;

    #region Init
    protected override void OnInitialized()
    {
        Init();

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            RegisterEventDispatcher();
    }

    protected override bool ShouldRender()
    {
        return false;
    }

    private void Init()
    {
        if (_component == null)
            _component = Component.CopyNew();
    }

    private void RegisterEventDispatcher()
    {
        //订阅属性面板中的事件
        BlazorEventDispatcher.RegisterEvent("designengine.propertysetting.onchange", (value) =>
        {
            StateHasChanged();
        });
    }
    #endregion

    #region
    private void OnTabChange()
    {

    }
    #endregion

    #region
    private ComponentSchema CreatComponent(string key)
    {
        var c = Component.Childrens.FirstOrDefault(t =>
            {
                if (t.ComponentProperty.ExtensionData.ContainsKey(key))
                    return true;
                return false;
            });
        if (c != null)
            return c;

        var component = _component.CopyNew();
        component.IsContainerComponent = true;
        component.ComponentProperty.ExtensionData.Add(key, key);
        component.ParentId = Component.Id;

        Component.Childrens.Add(component);

        return component;
    }
    #endregion
}