@namespace H.LowCode.DesignEngine

@if (Page != null)
{
    <div class="pagesetting-item">
        <label>布局：</label>
        <RadioGroup TValue="int" @bind-Value="@Page.PageProperty.PageLayout" OnChange="OnChange">
            <Radio RadioButton Value="1">一列</Radio>
            <Radio RadioButton Value="2">两列</Radio>
            <Radio RadioButton Value="3">三列</Radio>
            <Radio RadioButton Value="4">四列</Radio>
        </RadioGroup>
    </div>

    @* 表单页 *@
    <div style="border-left: 5px solid #d0d4da;padding: 0 0 0 8px; margin:5px 0;">数据源</div>
    <div class="propertysetting-item">
        <label>类型：</label>
        <RadioGroup DefaultValue="DataSourceEnum.None" TValue="DataSourceEnum" @bind-Value="@Page.DataSource.DataSourceType">
            <Radio Value="DataSourceEnum.None">None</Radio>
            <Radio Value="DataSourceEnum.Table">Table</Radio>
            <Radio Value="DataSourceEnum.API">API</Radio>
            <Radio Value="DataSourceEnum.Options">Options</Radio>
            <Radio Value="DataSourceEnum.SQL">SQL</Radio>
        </RadioGroup>
    </div>

    @if (Page.DataSource.DataSourceType == DataSourceEnum.Table)
    {
        <div class="propertysetting-item">
            <label>表：</label>
            <div></div>
        </div>
    }
    else if (Page.DataSource.DataSourceType == DataSourceEnum.API)
    {
        <div class="propertysetting-item">
            <label>API：</label>

        </div>
    }
}

@code {
    [Parameter]
    public PageSchema Page { get; set; }

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

    private void OnChange(int pageLayout)
    {
        BlazorEventDispatcher.Trigger("designengine.pagesetting.pagelayout.onchange", pageLayout);
    }
}
