<div class="pagesetting-item">
    <label>布局：</label>
    <RadioGroup TValue="int">
        <Radio RadioButton Value="0">一列</Radio>
        <Radio RadioButton Value="1">两列</Radio>
        <Radio RadioButton Value="2">三列</Radio>
    </RadioGroup>
</div>

@code {
    [Parameter]
    public PagePropertySchema PagePropertySchema { get; set; }

}
