@namespace H.LowCode.DesignEngine
@inherits LowCodeComponentBase

<div style="height:100%; overflow-y:auto">
    @if (Component != null)
    {
        @* 基础属性 *@
        <BasicPropertyItem Component="@Component"></BasicPropertyItem>

        @* 数据源属性 *@
        @if (Component.ComponentProperty.IsSupportDataSource)
        {
            <DataSourcePropertyItem Component="@Component"></DataSourcePropertyItem>
        }

        @*扩展属性*@
        @if (Component.ComponentProperty.ExtraProperties != null
            && Component.ComponentProperty.ExtraProperties.Count > 0)
        {
            <ExtensionPropertyItem Component="@Component"></ExtensionPropertyItem>
        }
    }
</div>

@code {
    [Parameter]
    public ComponentSchema Component { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
