@namespace H.LowCode.Workbench
@inherits LowCodeComponentBase
@layout WorkbenchLayout

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inject IMessageService Message

<div style="display: flex; justify-content: space-between; margin: 0 0 8px 5px;">
    <div style="width:250px;">
        <Search Placeholder="主题名称" OnSearch="()=>{}" />
    </div>
</div>

<Card Title="AntDesign 主题" Style="float:left; width:300px; margin:5px;">
    <Extra>
        <a href="javascript:void(0)">使用</a>
    </Extra>
    <Body>
        <p>Card content</p>
    </Body>
</Card>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}