@page "/add"

@*添加节点按钮*@
<div class="add-node-btn-box">
    <div class="add-node-btn">
        <el-popover placement="right-start">
            @if (IsShowPopover)
            {
                <div class="add-node-popover-body">
                    <a class="add-node-popover-item approver" @onclick="()=>AddNode(NodeTypeEnum.Approve)">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>审批人</p>
                    </a>
                    <a class="add-node-popover-item notifier" @onclick="()=>AddNode(NodeTypeEnum.CarbonCopy)">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>抄送人</p>
                    </a>
                    <a class="add-node-popover-item condition" @onclick="()=>AddNode(NodeTypeEnum.Condition)">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>条件分支</p>
                    </a>
                </div>
            }
            <button class="btn" type="button" slot="reference" @onclick="()=>ShowPopover()">
                <span class="iconfont"></span>
            </button>
        </el-popover>
    </div>
</div>

@code {
    private bool IsShowPopover = false;

    private void ShowPopover()
    {
        IsShowPopover = !IsShowPopover;
    }

    private void AddNode(NodeTypeEnum nodeType)
    {

    }
}