@*添加节点按钮*@
<div class="add-node-btn-box">
    <div class="add-node-btn">
        <span>
            <div role="tooltip" id="el-popover-3392" aria-hidden="true" class="el-popover el-popper" tabindex="0"
                style="display: none;">
                <div class="add-node-popover-body">
                    <a class="add-node-popover-item approver">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>审批人</p>
                    </a>
                    <a class="add-node-popover-item notifier">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>抄送人</p>
                    </a>
                    <a class="add-node-popover-item condition">
                        <div class="item-wrapper">
                            <span class="iconfont"></span>
                        </div>
                        <p>条件分支</p>
                    </a>
                </div>
            </div>
            <span class="el-popover__reference-wrapper">
                <button type="button" class="btn el-popover__reference" aria-describedby="el-popover-3392" tabindex="0">
                    <span class="iconfont"></span>
                </button>
            </span>
        </span>
    </div>
</div>

@code {
    private void ShowAddNodePanel()
    {
        
    }
}