@*审核人节点*@
<div class="auto-judge">
    <div class="title-wrapper">
        <span class="editable-title">条件1</span>
        <span class="priority-title">优先级1</span>
        <i class="anticon anticon-close close"></i>
    </div>
    <div class="sort-right"></div>
    <div class="content">发起人属于：天旭</div>
</div>

@code {
    
}