@*抄送人节点*@
<div class="node-wrap-box">
    <div>
        <div class="title" style="background: rgb(50, 150, 250);"><span class="iconfont"
                style="display: none;"></span><span class="iconfont"></span>
            <!---->
            <!----><span class="editable-title">抄送人</span><i class="anticon anticon-close close"></i>
        </div>
        <div class="content">
            <!---->
            <!---->
            <div class="text">
                <!---->
                发起人自选
            </div><i class="anticon anticon-right arrow"></i>
        </div>
        <!---->
    </div>
</div>

@code {
    
}