<div class="node-wrap-box start-node ">
    <div>
        <div class="title" style="background: rgb(87, 106, 149);">
            <span class="iconfont" style="display: none;"></span>
            <span class="iconfont" style="display: none;"></span>
            <span>发起人</span>
        </div>
        <div class="content">
            <div class="text">所有人</div>
            <i class="anticon anticon-right arrow"></i>
        </div>
    </div>
</div>

@code {
    private void ShowSettingPanel()
    {
        
    }

}