@namespace H.LowCode.DesignEngine
@inherits LowCodeComponentBase

@inject IComponentPartsAppService ComponentPartsAppService
@inject ComponentState<ComponentPanel, IList<ComponentPartsSchema>> ComponentPartsListState

<Tabs TabPosition="@TabPosition.Left" DefaultActiveKey="1" Class="componentpanel" Size="@TabSize.Small" Style="padding-left:8px;">
    <TabPane Key="1">
        <TabTemplate><span><Icon Type="appstore" /></span></TabTemplate>
        <ChildContent>
            <Tabs DefaultActiveKey="11" Class="componentpanel" Style="width:270px; padding:0px 4px;">
                <TabPane Key="11" Tab="组件库">
                    <div style="height:100%; overflow-y: auto;">
                        @if (_componentPartsList != null)
                        {
                            @foreach (var component in _componentPartsList)
                            {
                                @* <div style="display: inline-block; padding-bottom: 20px;"> *@
                                @* <div style="border-left: 5px solid #d0d4da;padding: 0 0 0 8px; margin:5px 0;">@componentProvider.Label</div> *@
                                @* @foreach (var component in componentProvider.LoadComponents()) *@
                                @* { *@
                                <DragItem Component="component"></DragItem>
                                @* } *@
                                @* </div> *@
                            }
                        }
                    </div>
                </TabPane>
                <TabPane Key="12" Tab="页面库">
                    <div style="height:100%; overflow-y: auto;">
                        @* @foreach (var pageTemplateProvider in PageTemplateProviders) *@
                        @* { *@
                        @*     <div style="display: inline-block; padding-bottom: 20px;"> *@
                        @*         <div style="border-left: 5px solid #d0d4da;padding: 0 0 0 8px; margin:5px 0;">@pageTemplateProvider.Label</div> *@
                        @*         @foreach (var component in pageTemplateProvider.LoadPageTemplates()) *@
                        @*         { *@
                        @*             <DragItem Component="component"></DragItem> *@
                        @*         } *@
                        @*     </div> *@
                        @* } *@
                    </div>
                </TabPane>
            </Tabs>
        </ChildContent>
    </TabPane>
    <TabPane Key="2">
        <TabTemplate><span><Icon Type="database" /></span></TabTemplate>
        <ChildContent>
            数据源
        </ChildContent>
    </TabPane>
    <TabPane Key="3">
        <TabTemplate><span><Icon Type="code" /></span></TabTemplate>
        <ChildContent>
            在线编码
        </ChildContent>
    </TabPane>
</Tabs>

@code {
    private IList<ComponentPartsSchema> _componentPartsList;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _componentPartsList = await ComponentPartsListState.GetOrAddAsync(this, async () =>
        {
            return await LoadComponentPartsAsync(1, 1000);
        });
    }

    private async Task<IList<ComponentPartsSchema>> LoadComponentPartsAsync(int pageIndex, int pageSize)
    {
        return await ComponentPartsAppService.GetAllComponentsAsync("antdesign");
    }
}