/* ================== DragItem.razor ==================== */
.dragitem {
    float: left;
    width: 6.8rem;
    height: 2.2rem;
    margin: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: #f5f7fa;
}

    .dragitem:hover {
        border: #409eff dashed 1px;
        color: #409eff;
    }
