body {
    height: 100%;
}

/* ====================== 覆盖 antdesign 默认样式 ========================== */
.renderengine .ant-pro-basicLayout-content {
    margin: 8px !important;
}

.renderengine .ant-layout, .renderengine .ant-pro-basicLayout-content {
    height: 100%;
}

.renderengine .ant-pro-basicLayout-children-content-wrap, .renderengine .ant-layout-content {
    height: 100%;
}
