<div draggable="true" class="dragitem" @ondragstart="()=>OnDragStart(DragDropModel)" @onclick="()=>OnClick(DragDropModel)">
    @DragDropModel.Title
</div>

@code
{
    [Parameter]
    public DragDropModel DragDropModel{ get; set; }

    [Parameter]
    public Action<DragDropModel> OnItemDragStart { get; set; }

    private void OnDragStart(DragDropModel model)
    {
        DragDropModel dropModel = model.Clone();
        OnItemDragStart.Invoke(dropModel);
    }

    private void OnClick(DragDropModel model)
    {
        //发送事件，通知订阅此事件的其他组件更新状态
        DragDropModel dropModel = model.Clone();
        dropModel.IsDropModel = true;
        BlazorEventDispatcher.Dispatch("designerengine.dragitem.onclick", dropModel);
    }
}